{% extends 'layout.html' %}
{% block content %}
<div class="container p-5">
	<a class="btn btn-dark" href="{{url_for('main.main_home')}}">Go to Landing Page</a><br><br>
	<h1 class="display-1 tit">🌱 Register</h1>
	<br>
	<input type="text" class=" mt-2 form-control bg-muted text-dark" placeholder="Full Name" id="namebox"><br>
	<input type="text" class=" mt-2 form-control bg-muted text-dark" placeholder="Phone Number" id="pnbox"><br>
	<input type="text" class=" mt-2 form-control bg-muted text-dark" placeholder="Aadhar Number" id="aadbox"><br>
	<input type="text" class=" mt-2 form-control bg-muted text-dark" placeholder="Location (Region)" id="locbox"><br>
	<input type="textarea" rows="2" class=" mt-2 form-control bg-muted text-dark" placeholder="Clinic Address" id="addrbox"><br>
	<input type="text" class="form-control bg-muted text-dark" placeholder="Password" id="pwdbox"><br>
	<button class="btn btn-dark btn-lg" onclick="register()">Register</button>
	<br>
	<a class="text-muted text-decoration-none d-block my-3" href="{{url_for('doctor.doctor_login')}}">Already have an account? Log in</a>
</div>
{% endblock content %}

{% block js %}
<script>
const register = () => {
	let fullName = document.getElementById('namebox').value;
	let phone = document.getElementById('pnbox').value;
	let aadhar = document.getElementById('aadbox').value;
	let location = document.getElementById('locbox').value;
	let address = document.getElementById('addrbox').value;
	let password = document.getElementById('pwdbox').value;
	let fd = new FormData();
	fd.append('full_name', fullName);
	fd.append('phone', phone);
	fd.append('aadhar', aadhar);
	fd.append('location', location);
	fd.append('address', address);
	fd.append('password', password);
	fetch(window.location.href, {
		method: 'post',
		body: fd
	}).then(()=>window.location.href = '{{url_for("doctor.doctor_login")}}');
}
</script>
{% endblock js %}